
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="block-title">
        <h2>@tinhGiot.Resources.ForgotPassword.NewPassword</h2>
    </div>
    <div style="text-align:center;margin-top:30px;">
        <h5>@tinhGiot.Resources.ForgotPassword.Message <b>tinhgiot.com</b></h5>
    </div>
    <div class="contact-form" style="max-width:450px;text-align:center; margin-left:auto;margin-right:auto;min-height:450px">
        <input type="email" id="Email_NewPassword" class="inptxtstyle" name="email" required placeholder="email*" />
        <div style="float:right; margin-right:20px;margin-top:30px">
            <a class="button2" href="/@ViewBag.Language">@tinhGiot.Resources.ForgotPassword.Back</a>
            <a class="button2" href="javascript:;" onclick="RequestNewPassword();">@tinhGiot.Resources.ForgotPassword.Send</a>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="loading">Loading&#8230;</div>

<script type="text/javascript">
    function RequestNewPassword() {
        var email = $('#Email_NewPassword').val();
        if (!ValidateEmail(email)) {
            OpenWarningNotification("@tinhGiot.Resources.ForgotPassword.InvalidEmail")
            $('#Email_NewPassword').focus();
            return;
        }
        $.ajax({
            url: '/@ViewBag.Language/Home/ForgotPassword',
            type: "post",
            data: {
                Email: email
            },
            beforeSend: function () {
                $('.loading').show();
            },
            success: function (result) {
                OpenNotification(result);
            }
        });
    }
</script>
