@{
    ViewBag.Title = tinhGiot.Resources.Index.Header_Title;
}
@using CaptchaMvc.HtmlHelpers
<link href="~/css/HomeIndex.css" rel="stylesheet" />

<div class="banner-container">
    <div id="banner-slider">
        <div class="Banner">
            <img class="Banner_Img" src="~/images/boswellia_resin_gum.jpg"/>
            <div class="TextBlock_Banner">
                <div class="Title_Banner">@tinhGiot.Resources.Index.Banner1_Title</div>
                <div class="TextContent_Banner">@tinhGiot.Resources.Index.Banner1_Text</div>
                <div class="Clear Banner_Link">
                    <div class="Banner_button">@tinhGiot.Resources.Index.Banner1_Action</div>
                </div>
            </div>
        </div>
        <div class="Banner" >
            <img class="Banner_Img" src="/images/frankincense_myrrh_exploring.jpg"/>
            <div class="TextBlock_Banner">
                <div class="Title_Banner">@tinhGiot.Resources.Index.Banner2_Title</div>
                <div class="TextContent_Banner">@tinhGiot.Resources.Index.Banner2_Text</div>
                <div class="Clear Banner_Link"><div class="Banner_button">@tinhGiot.Resources.Index.Banner2_Action</div></div>
            </div>
        </div>
        <div class="Banner" >
            <img class="Banner_Img" src="~/images/essential_oils_perfume.jpg" />
            <div class="TextBlock_Banner">
                <div class="Title_Banner"> @tinhGiot.Resources.Index.Banner3_Title</div>
                <div class="TextContent_Banner">@tinhGiot.Resources.Index.Banner3_Text</div>
                <div class="Banner_Link"><div class="Banner_button">@tinhGiot.Resources.Index.Banner3_Action</div></div>
            </div>

        </div>
        <div class="Banner">
            <img class="Banner_Img" src="~/images/essential_oils_benefits.jpg" />
            <div class="TextBlock_Banner">
                <div class="Title_Banner">@tinhGiot.Resources.Index.Banner4_Title</div>
                <div class="TextContent_Banner">@tinhGiot.Resources.Index.Banner4_Text</div>
                <div class="Banner_Link"><div class="Banner_button">@tinhGiot.Resources.Index.Banner4_Action</div></div>
            </div>
        </div>
    </div><!-- End main-banner-->
    <div class="clear"></div>
</div>

<div class="IndexContainer container" style="margin-top:30px;">

    <div class="col-lg-6 col-md-6 col-xs-12 Section_TextBlock RightAlign">
        <div class="Section_TextBlock_Title">@tinhGiot.Resources.Index.FrankincenseMyrrha</div>
        <div class="Section_TextBlock_Content">@tinhGiot.Resources.Index.FrankincenseMyrrha_Description</div>
        <div class="Section_TextBlock_Link col-lg-12 col-md-12 hidden-xs"><div class="Index_button2">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 RightAlign Section_Img">
        <img src="~/images/frankincense_myrrh.jpg" class="Img_Center" />
        <div class="Section_TextBlock_Link visible-xs-block"><div class="clear Index_button2 ">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="clear"></div>
</div>
<div class="IndexContainer container SmokeWhite_Background" style="margin-top:30px;">
    <div class="col-lg-6 col-md-6 col-xs-12 Section_TextBlock">
        <div class="Section_TextBlock_Title">@tinhGiot.Resources.Index.Lemongrass</div>
        <div class="Section_TextBlock_Content">@tinhGiot.Resources.Index.Lemongrass_Description</div>
        <div class="Section_TextBlock_Link hidden-xs"><div class="Index_button2 ">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 Section_Img">
        <img src="~/images/lemongrass.jpg" class="Img_Center" />
        <div class="Section_TextBlock_Link visible-xs-block"><div class="Index_button2">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="clear"></div>
</div>
<div class="IndexContainer container" style="margin-top:30px;">
    <div class="col-lg-6 col-md-6 col-xs-12 Section_TextBlock RightAlign">
        <div class="Section_TextBlock_Title">@tinhGiot.Resources.Index.Ginger</div>
        <div class="Section_TextBlock_Content">@tinhGiot.Resources.Index.Ginger_Description</div>
        <div class="Section_TextBlock_Link hidden-xs"><div class="Index_button2 ">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 RightAlign Section_Img">
        <img src="~/images/ginger.jpg" class="Img_Center" />
        <div class="Section_TextBlock_Link visible-xs-block"><div class="Index_button2 ">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="clear"></div>
</div>

<div class="IndexContainer container SmokeWhite_Background" style="margin-top:30px;">
    <div class="col-lg-6 col-md-6 col-xs-12 Section_TextBlock">
        <div class="Section_TextBlock_Title">@tinhGiot.Resources.Index.MakrutLime</div>
        <div class="Section_TextBlock_Content">@tinhGiot.Resources.Index.MakrutLime_Description</div>
        <div class="Section_TextBlock_Link hidden-xs"><div class="Index_button2">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 Section_Img">
        <img src="~/images/makrut_lime.jpg" class="Img_Center" />
        <div class="Section_TextBlock_Link visible-xs-block"><div class="Index_button2">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="clear"></div>
</div>

<div class="IndexContainer container" style="margin-top:30px;">

    <div class="col-lg-6 col-md-6 col-xs-12 Section_TextBlock RightAlign">
        <div class="Section_TextBlock_Title">@tinhGiot.Resources.Index.MakrutLeaf</div>
        <div class="Section_TextBlock_Content">@tinhGiot.Resources.Index.MakrutLeaf_Description</div>
        <div class="Section_TextBlock_Link hidden-xs"><div class="Index_button2 ">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12 RightAlign Section_Img">
        <img src="~/images/makrut_leaf.jpg" class="Img_Center" />
        <div class="Section_TextBlock_Link visible-xs-block"><div class="Index_button2">@tinhGiot.Resources.Index.ExploringProduct</div></div>
    </div>
    <div class="clear"></div>
</div>
<div class="IndexContainer container SmokeWhite_Background" style="margin-top:30px;">
    <div class="Section_TextBlock_Title">@tinhGiot.Resources.Index.LookingFor</div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/essential oil in beaker.jpg" class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.EssentialOil_url', '1');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.EssentialOil_url', '1');">@tinhGiot.Resources.Index.EssentialOil</div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/frankincense for incense.jpg"   class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.Incense_url', '2');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.Incense_url', '2');">@tinhGiot.Resources.Index.Incense</div>

        </div>
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/hydrosol from essential oils.jpg" class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.Hydrosol_url', '10');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.Hydrosol_url', '10');">@tinhGiot.Resources.Index.Hydrosol</div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/img tinhgiot/Tealight.jpg" class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.Tealight_url', '11');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.Tealight_url', '11');">@tinhGiot.Resources.Index.Tealight</div>

        </div>
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/img tinhgiot/incense_stick_201842123.png" class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.IncenseStick_url', '3');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.IncenseStick_url', '3');">@tinhGiot.Resources.Index.IncenseStick</div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/img tinhgiot/Incense Burner Directly - Grey.jpg" class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.IncenseBurner_url', '12');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.IncenseBurner_url', '12');">@tinhGiot.Resources.Index.IncenseBurner</div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/img tinhgiot/Essential Oil Burner - Yellow.png" class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.EssentialOilBurner_url', '13');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.EssentialOilBurner_url', '13');">@tinhGiot.Resources.Index.EssentialOilBurner</div>
        </div>
        <div class="col-lg-3 col-md-3 col-xs-6" style="margin-top:20px;margin-bottom:20px;padding-left:10px;padding-right:10px;">
            <img src="~/images/personal beauty care.jpg" class="May_Find" onclick="NavCategory('@tinhGiot.Resources.Index.PersonalSkineCare_url', '8');" />
            <div class="May_Find_Text" onclick="NavCategory('@tinhGiot.Resources.Index.PersonalSkineCare_url', '8');">@tinhGiot.Resources.Index.PersonalSkinCare</div>

        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="IndexContainer content-block"  >
            <div class="block-title">
                <h2>@tinhGiot.Resources.Index.HotItem</h2>
            </div>
            <div class="block-content" style="margin-top:30px;">
                @if (ViewBag.listhot != null)
                {
                    int i = 0;
                    foreach (var n in ViewBag.listhot)
                    {
                        i++;
                        if (i < 5)
                        {
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 max-height">
                                <div class="prd-item">
                                    <div class="prd-thumb">
                                        <a href="/@ViewBag.Language/ProductDetail/@n.ProductName_Lang.Replace(' ', '-')/@n.ID-@n.CategoryID">
                                            @*<img src="/UploadedImage/@n.Image" />*@
                                            @foreach (var img in (n.Image).Split(','))
                                            {
                                                <img src="@Url.Content("/UploadedImage/" + img)" />
                                                break;
                                            }
                                        </a>
                                    </div>

                                    <div class="prd-info">
                                        <a href="/@ViewBag.Language/ProductDetail/@n.ProductName_Lang.Replace(' ', '-')/@n.ID-@n.CategoryID" class="prd-title">
                                            <p class="text-title-max">@n.ProductName_Lang</p>
                                        </a>
                                        <p class="prd-price"><span class="prd-price-span">@Convert.ToString(String.Format("{0:#,### đ}", Convert.ToInt32(n.Price))).Replace(",", ".")</span> </p>
                                        @*<a data-id="@n.ID" style="margin-bottom:10px" class="btn btn-buy"><i class="icon-cart-plus"></i></a>*@
                                        @foreach (var img in (n.Image).Split(','))
                                        {
                                            <label class="Btn_Buy" id="myBtn_@n.ID" data-id="@n.ID" productname="@n.ProductName_Lang" data-img="@Url.Content(img)">@tinhGiot.Resources.Index.AddToBag</label>
                                            break;
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            break;
                        }
                    }
                }
            </div>
</div>
@if (ViewBag.listnewtt != null)
{
    <div class="IndexContainer container content-block">
        <div class="container" id="fixindex">                                                                     
            <div class="block-title">
                <h2>@tinhGiot.Resources.Index.Blogs</h2>
            </div>
            <div class="block-content">

                @foreach (var tt in ViewBag.listnewtt)
                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 news-max-height">
                        <div class="news-item">
                            <div class="news-thumb">
                                <a href="/@ViewBag.Language/Browse/@tt.Title_Lang.Replace(' ', '-')/@tt.ID-@tt.CategoryID">
                                    <img style="border-radius:5px;max-height:300px" src="https://tinhgiot.com/UploadedImage/@tt.Image" />
                                    <div class="middle">
                                        <img src="~/images/btn_view_detail.png" />
                                    </div>
                                </a>
                            </div>

                            <div class="news-description fixnewsindex">
                                <a href="/@ViewBag.Language/Browse/@tt.Title_Lang.Replace(' ', '-')/@tt.ID-@tt.CategoryID" class="news-title">
                                    <p class="text-title-max">@tt.Title_Lang</p>
                                </a>
                                <div class="fixword text-content-max">
                                 @Html.Raw(tt.PostContent_Lang)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div style="clear:both"></div>
                <div class="button2 col-lg-4 col-md-4 col-sm-4 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
                    <a href="/@ViewBag.Language/Articles/Tinh-Dầu/1">@tinhGiot.Resources.Index.ReadMore</a>
                </div>
            </div>
        </div>
    </div>
      }

    <script type="text/javascript">
        function NavCategory(catName, id) {
            window.location = "/@ViewBag.Language/ProductList/" + catName + "/" + id;
        }
    </script>

