@model tinhGiot.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="hold-transition register-page">

    <div class="container">
        <div class="block-title">
            <h2>Đặt lại mật khẩu</h2>
        </div>
        <div style="text-align:center">
            <h5 style="color:red">@ViewBag.Message</h5>
        </div>
        <div class="contact-form" style="max-width:450px;text-align:center;margin-left:auto;margin-right:auto;min-height:450px">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control inptxtstyle",@style = "font-size:15px;height:40px !important", @placeholder = "Nhập mật khẩu*", @id = "password" } })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control inptxtstyle", @style = "font-size:15px;height:40px !important", @placeholder = "Nhập lại mât khẩu*", @id = "repassword" } })
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.HiddenFor(a => a.ResetCode)
                </div>
                <div class="row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <button type="submit" class="inpbtnstyle">Gửi</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/Content/Admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/Admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>

    <script>
        var password = document.getElementById("password"), confirm_password = document.getElementById("repassword");
        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Nhập mật khẩu chưa trùng khớp");
            } else {
                confirm_password.setCustomValidity('');
            }
            if (password.value.length < 6) {
                confirm_password.setCustomValidity("Mật khẩu xin vui lòng dài từ 6 kí tự");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
</body>

