@model List<BaseClasses.CartItems>
@section jsFooter{
    <script src="~/js/cartController.js"></script>
}
<div style="min-width:270px; max-width:720px;font-family: 'Roboto', sans-serif;">
    @if (Model != null)
    {
        <div style="min-width:270px; max-width:720px;overflow-x:hidden; overflow-y:auto;min-height:120px;max-height:360px;">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div style=" margin-top:3px;">
                        <p class="nameproduct" style="margin:0 auto;text-align:center;color:#293D12;font-size:12px;font-weight:500; line-height:18px;width:98%;background-color:whitesmoke;border-radius:3px;">@item.ProductName</p>
                        <div id="BagItem_@item.ID">
                            <div class="col-lg-5 col-md-6 col-xs-5 ">
                                <p>
                                    @foreach (var img in (item.Image).Split(','))
                                    {
                                        <img class="image3" src="@Url.Content("/UploadedImage/" + img)" />
                                        break;
                                    }
                                </p>
                            </div>
                            <div class="col-lg-5 col-md-4 col-xs-5 " style="height:80px; border-radius:6px;">
                                <div class="pricequantity">
                                    <b class="priceproduct" style="color:#293D12;">@Convert.ToString(String.Format("{0:#,### đ}", Convert.ToInt32(item.Price))).Replace(",", ".")</b>
                                </div>
                                <div class="pricequantity">
                                    <input type="number" min="1" max="99" class="quantity_product" id="QtyItem_@item.ProductID" onchange="UpdateItemQty('@item.ProductID','@item.Quantity');" data-id="@item.ProductID" name="" placeholder="" value="@item.Quantity">
                                </div>
                                <div class="pricequantity">
                                    <span class="sum_money" style="color:#B77C17;"><b>@Convert.ToString(String.Format("{0:0,0 đ}", (Convert.ToInt32(item.Price) * item.Quantity))).Replace(",", ".")</b></span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-2" style="height:80px;">
                                <div style="margin-top:20px;">
                                    <a href="#" onclick="ConfirmDelete('@item.ProductID');">
                                        <img src="~/images/delete.png" width="20" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="clear" style="border-bottom:1px solid #d1d1d1"></div>
                }
            }
            else
            {
        <div style="text-align:center;color:firebrick;width:100%;margin:auto;height:72px;font-size:18px;font-weight:500;padding-top:30px;">@tinhGiot.Resources.PreviewBag.EmptyBag</div>
                Session["CartSession"] = null;
            }

        </div>
    }
    else
    {
        <span style="text-align:center;color:firebrick;width:100%;margin:auto;height:72px;font-size:18px;font-weight:500;padding-top:30px;">@tinhGiot.Resources.PreviewBag.EmptyBag</span>
    }
</div>
<div class="row" style="padding-top:5px;margin: 0 auto;">
    <div style="width:100%;height:36px;line-height:24px;padding-top:6px;background-color:whitesmoke;border-color:whitesmoke;border-radius:6px;">
        <div class="col-lg-5 col-md-5 col-xs-5">
            <b style="color:#293D12;">Sản phẩm:<span style="color:#B77C17;margin-left:3px;"> @(Model.Sum(x => x.Quantity))</span></b>
        </div>
        <div class="col-lg-7 col-md-7 col-xs-7">
            @if (Model.Count > 0)
            {
                <b style="color:#293D12;">@tinhGiot.Resources.PreviewBag.PayableAmount<span style="color:#B77C17;margin-left:3px;"> @Convert.ToString(String.Format("{0:0,0 đ}", (Model.Sum(x => Convert.ToInt32(x.Price) * x.Quantity)))).Replace(",", ".") </span></b>
            }
            else
            {
        <b style="color:#293D12;">@tinhGiot.Resources.PreviewBag.PayableAmount<span style="color:#B77C17;margin-left:3px;">0 đ</span></b>
            }
        </div>
    </div>
    <div style="float:right;height:45px;margin-top:20px;margin-right:10px;">
        <a  class="button2" style="margin-right:10px;"  data-dismiss="modal">@tinhGiot.Resources.PreviewBag.BackShopping</a>
        @if (Model.Count > 0)
        {
            <a class="button2" href="/ProcessCheckout">@tinhGiot.Resources.PreviewBag.Checkout</a>
        }
    </div>
</div>


